<!DOCTYPE html>
<html lang="en,sv">	

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->			


	<!-- Bootstrap -->	 
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="my_css/style.css">
</head>


<body>
	<h1>CODE QUIZ</h1>

	<p>Get ready for a quiz about code!</p>
	<p>This quiz will challenge you deeply within the worlds coding.</p>
	<p> You will be given 8 different quiestions. Are you ready to start?</p>

	<p><a href="question.html" rel="html">Code quiz</a></p>

	<!-- Lägg till en länk för att starta quizen -->	

</body>



</html>
