<!DOCTYPE html>
<html lang="en,sv">	

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->			


	<!-- Bootstrap -->	 
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/static/style.css">
</head>

<!--CREATE THE BODY-->

<body>

	<div class="header">
		<h1>LADIES AND GENTLEMEN</h1>
		<h1>It's quiz time</h1>
	</div>

	<!--<h3>Made by popcornbrain!</h3>-->
	
	
	<div class="container">

		<div class="row">
			
			<div class="col-md-4"></div>

			<div class="col-md-4 column2">
				
			</div>
			
			<div class="col-md-4 column3"></div>

		</div>
		
		
		<div class="row">
			<div class="col-md-4 column">

				<img class="img-circle" src="/static/female_coder_medium.jpg">
				<h2>Do you know your women in tech?</h2>


				<a class="button-lg" href="#" role="button">To Quiz</a>

			</div>

			<div class="col-md-4 column">

				<img class="img-circle" src="/static/monkey_square_medium.jpg">
				<h2>Are you a true code monkey?</h2>
				<a class="button-lg" href="#000000" role="button">To Quiz</a>

			</div>

			<div class="col-md-4 column">

				<img class="img-circle" src="/static/future_tech.jpg">
				<h2>Are you up to date on the future tech products?</h2>
				<a class="button-lg" href="#" role="button">To Quiz</a>

			</div>


		</div>

		{% for quiz in quizzes %}

		<p><a href="{% url 'quiz_page' quiz.quiz_number %}">
			{{quiz.name}}
		</a></p>

		{% endfor %}

	</div>



</body>

</html>
