<!DOCTYPE html>
<html lang="en,sv">	

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->			


	<!-- Bootstrap -->	 
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	<h1>TIME FOR A QUIZ</h1>

	<h3>Made by Tina Elvian!</h3>
	


	<div class="container">

		<div class="row">
			
			<div class="col-md-4"></div>

			<div class="col-md-4 column2">
				
			</div>
			
			<div class="col-md-4 column3"></div>

		</div>
		
		
		<div class="row">
			<div class="col-md-4 column">

				<img class="img-circle" src="/static/codemonkey.jpg">
				<h2> mitt apquiz</h2>
				<a class="btn btn-lg btn-primary" href="#" role="button">Till quiz</a>

			</div>

			<div class="col-md-4 column">

				<img class="img-circle" src="/static/codemonkey.jpg">
				<h2> mitt apquiz</h2>
				<a class="btn btn-lg btn-primary" href="#" role="button">Till quiz</a>

			</div>

			<div class="col-md-4 column">

				<img class="img-circle" src="/static/codemonkey.jpg">
				<h2> mitt apquiz</h2>
				<a class="btn btn-lg btn-primary" href="#" role="button">Till quiz</a>

			</div>


		</div>



		<div class="row">
			<div class="col-md-4"><p><a href="quiz.html" rel="html">Code quiz</a></p></div>
			<div class="col-md-4 column2">
				XX quiz
			</div>
			<div class="col-md-4 column3"></div>
		</div>
	</div>



</body>

</html>
