
body {

	background: url('/static/pink_background.jpg');
	background-size: cover;

	font: 12pt/1.4 "Helvetica Neue", "Helvetica", serif; 
	max-width: 600px
	margin: 0 auto;
}

.column {
	text-align: center;
}



h1 {
	color: #FF9999;
	text-align: center;
}
h2 {
	color: #FF9999;
	text-align: center;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}
.button-lg {
	background-color: #FFFFFF;
	border-color: #F2F2F2;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}

a {
	color: #FF3333;
}

p	{
	border-bottom: 1px solid #FF9999
	padding-bottom: 5px;
}